@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: 'Inter Variable', system-ui, sans-serif;
	--font-serif: 'Playfair Display Variable', serif;
	--font-bengali: 'Baloo Da 2 Variable', cursive;
}
